
.volumen input
{
    width: 32px;
    height: 32px;
    border: 1px solid black;
    padding: 1.5px;

}

.reproductor
{
    display: block;
    float: left;
}

/* Make it a marquee */
.marquee {
    display: block;
    float: none;
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 15s linear infinite;
    margin-bottom: 5px;
}

.marquee:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -75em }
}

.controles{
    margin-left: 14px;
}

.controles input
{    
    border: 1px black solid;
}

.volumen{
    display: block;
    float: left;

    width: 0;
    margin-left: 10px;
}

.caratula
{
    display: block;
    float: left;
}

.caratula img{
    width: 120px;
    height: 120px;

    margin-right: 10px;
}

#contenedor_audio hr
{
    display: block;
    float: left;
    width: 475px;
}

#contenedor_audio
{
    border: 1px black solid;
    width: 475px;
    height: 700px;
    display: block;
    float: left;
    padding: 10px;
}

.lista{
    display: block;
    float: left;
    width: 100%;
}

.lista p
{
    width: 100%;
    text-align: center;
    display: block;
    vertical-align: central;
    margin-left: 25px;
}

.lista #shuffle{
    width: 32px;
    height: 32px;
    border: 1px solid black;
    float: right;
    margin-right: 28px;
    margin-top: -5px;

}


.pulsado
{
    border: none !important ;
}

.cabecera{
    vertical-align:top
}





.lista  
{
    border-collapse:collapse;
    border-spacing:0;
    border-color:#bbb;
    max-height: 150px;
    height: 150px;
    width: 100%;
}

table#lista_reproduccion{
    overflow-y: auto;
    float: left;
    display: block;
    overflow-x: hidden;
    width: 100%;
}


table#lista_reproduccion{
    max-height: 500px;
}

.lista td
{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#bbb;
    color:#594F4F;
    background-color:#E0FFEB;    
}

.lista tr.seleccionado td
{
    color: #594F4F;
    background-color: yellow;    
}

.lista td:first-of-type
{
    width: 10%;
}

.lista th
{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#bbb;
    color:#493F3F;
    background-color:#9DE0AD;
}

.lista .cabecera{
    vertical-align:top
}

#cover
{
    border: 1px solid black;
}


