h1{
    text-align: center;
}

.contenedor_tabla  
{
    border-collapse:collapse;
    border-spacing:0;
    border-color:#bbb;
    max-height: 150px;
    height: 150px;
    width: 100%;
}

table#tabla_partidos, table#tabla_politicos, table#tabla_leyes {
    overflow-y: auto;
    float: left;
    display: block;
    overflow-x: hidden;
    width: 100%;
}


table#tabla_partidos{
    max-height: 260px;
}

table#tabla_politicos{
    max-height: 150px;
    overflow-x: auto;
}

table#tabla_leyes{
    max-height: 200px;
    overflow-x: auto;
}


.contenedor_tabla td
{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#bbb;
    color:#594F4F;
    background-color:#E0FFEB;
}

.contenedor_tabla th
{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#bbb;
    color:#493F3F;
    background-color:#9DE0AD;
}

.contenedor_tabla .cabecera{
    vertical-align:top
}

#entrada{
    width: 99%;
    display: block;
    float: left;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}

#resultados{
    width: 99%;
    display: block;
    float: left;
    border: 1px solid black;
    border-top: 0px;
    padding: 10px;
    height: 400px;    
    border-radius: 0 0 15px 15px;
}

#resultados span
{
    margin: 0 10px;
    padding: 0 10px;
}

#entrada > div
{
    width: 33.3%;
    float: left;
}

#entrada div table{
    width: 100%;
}

fieldset{
    margin-bottom: 10px;
}

#entrada div input, select, input{
    margin: 5px 0px;
}

#resultados label{
    font-weight: bold;
}

#resultados > select{
    display: block;
    float: top;
}

#resultados > input{
    display: block;
    float: top;
}

div#contenedor_resultados > div{
    margin: 15px 0;
}

#contenedor_resultados{
    width: 40%;
    display: block;
    float: left;

}

#contenedor_estadisticas{
    width: 60%;
    display: block;
    float: left;
    margin: 15px 0;
}

#contenedor_estadisticas span{
    margin: 0px 5px 0 0;
    padding: 0px 5px 0 0;
}

#contenedor_estadisticas label{
    font-weight: bold;
}


#politicosXPartido, #politicosXIdeologias, #partidosXIdeologias
{
    width: 32%;
    display: block;
    float: left;    
    height: 375px;
    overflow-y: auto;
    overflow-x: auto;
}


.votosSi, .estadisticas1{
    color: #3366CC;
}

.votosNo, .estadisticas2{
    color: #DC3912;
}

.votosAbs, .estadisticas3{
    color: #FF9900;
}

.votosEmit, .estadisticas4{
    color: #109618;
}

.estadisticas5{
    color: #990099;
}

.estadisticas6{
    color: #3B3EAC;
}

.estadisticas7{
    color: #0099C6;
}

.estadisticas8{
    color: #DD4477;
}

.estadisticas9{
    color: #66AA00;
}

.estadisticas10{
    color: #B82E2E;
}

.estadisticas11{
    color: #316395;
}

.estadisticas12{
    color: #994499;
}

.estadisticas13{
    color: #22AA99;
}

.estadisticas14{
    color: #AAAA11;
}

.estadisticas15{
    color: #6633CC;
}

.estadisticas16{
    color: #E67300;
}

.estadisticas17{
    color: #8B0707;
}

.estadisticas18{
    color: #329262;
}

.estadisticas19{
    color: #5574A6;
}

.estadisticas20{
    color: #3B3EAC;
}

