/*
Copyright (C) 2016 Super

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
/* 
    Created on : 15-feb-2016, 19:26:00
    Author     : Super
*/

fieldset input, select, label{
    margin-bottom: 5px;
}

.error{
    border: 2px solid red;
}

.tablaDatos{
    margin: 0px;
    padding: 0px;
    width:99.6%;
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    border:1px solid #000000;

    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;

    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;

    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;

    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.tablaDatos table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.tablaDatos tr:last-child td:last-child{
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.tablaDatos table tr:first-child td:first-child{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.tablaDatos table tr:first-child td:last-child{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}

.tablaDatos tr:last-child td:first-child{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.tablaDatos tr:nth-child(odd){ 
    background-color: #e5e5e5; 
}
.tablaDatos tr:nth-child(even) { 
    background-color: #ffffff; 
}

.tablaDatos td{
    vertical-align: middle;
    border: 1px solid #000000;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    font-size: 14px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
}

.tablaDatos tr:last-child td{
    border-width: 0px 1px 0px 0px;
}

.tablaDatos tr td:last-child{
    border-width: 0px 0px 1px 0px;
}

.tablaDatos tr:last-child td:last-child{
    border-width: 0px 0px 0px 0px;
}
.tablaDatos tr:first-child td{
    background: -o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
    background: -moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	
    background: -o-linear-gradient(top,#cccccc,b2b2b2);

    background-color: #cccccc;
    border: 0px solid #000000;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #000000;
}

.tablaDatos th{
    border-bottom: 1px solid black;
    border-left:  1px solid black;
}

.tablaDatos tr th:first-child {
    border-left: 0px
}

.tablaDatos tr .reducido{
    width: 5%;
    text-align: center;    
}

.tablaDatos tr:first-child:hover td{
    background: -o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
    background: -moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	
    background: -o-linear-gradient(top,#cccccc,b2b2b2);
    background-color: #cccccc;
}
.tablaDatos tr:first-child td:first-child{
    border-width: 0px 0px 1px 0px;
}
.tablaDatos tr:first-child td:last-child{
    border-width: 0px 0px 1px 1px;
}
.centrado{
    text-align: center;
}

.cursiva{
    font-style: italic;
}

.negrita{
    font-weight: bold;
}